
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCurrencyLabel">Create or edit a Currency</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="currency.id" readonly>
        </div>
        <div class="form-group">
            <label for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="currency.code"
                    required ng-minlength="3" ng-maxlength="3" ng-pattern="/[A-ZA-ZA-Z]/">
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate-value-max="3">
                    This field cannot be longer than 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.pattern" translate-value-pattern="[A-ZA-ZA-Z]">
                    This field should follow pattern "[A-ZA-ZA-Z]".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="currency.description"
                    required>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="currency.country"
                    required>
            <div ng-show="editForm.country.$invalid">
                <p class="help-block"
                    ng-show="editForm.country.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
